 <footer>  

   	<div class="content-wrap">
      <h2 class="extra">Let's Keep in Touch!</h2>
      <button onclick="myFunction()">Contac Me</button>
      <p> &copy 2018 by Aleksandra Siabriuk</p>  
   </div>  

 </footer>