<!DOCTYPE html>
<html>
<head>
	<title>Practice</title>
</head>
<body>


	<div id="comments"> 
     
     <%- include partials/_header.ejs %>  
    
    </div>


	<form method="POST" action="/">

	<label>Username:</label>
	<input type="text" name="name">s

	<br>

	<label>Password:</label>
	<input type="text" name="password">

	<br>

	<button>Submit</button>

	<br>


	<div id="comments"> 
     
     <%- include partials/_footer.ejs %>  
    
    </div>


</form>
</body>
</html>